/* Désactive le fond par défaut de la liste */
.task-list {
  background: transparent;
  padding-top: 20px;
}

/* Mode Clair pour la modale */
.modal-input-item {
  --background: var(--ion-color-light, #f4f5f8);
  --border-radius: 12px;
  margin-bottom: 16px;
}

.modal-add-button {
  margin-top: 10px;
}

/* Mode Sombre pour la modale */
@media (prefers-color-scheme: dark) {
  .modal-input-item {
    --background: #1C1C1E;
  }
}
